html {
  font: 14px / 1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  min-width: 1226px;
  background: #fff;
}

/* 清除浮动 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
dl,
dd {
  list-style: none;
  margin: 0;
  padding: 0;
}


.wrap {
  width: 1226px;
  height: 100%;
  margin: 0 auto;
}

/* 主题色 */
:root {
  --theme-color: #ff6700;
}
