.header {
  width: 100%;
  position: relative;
}

h1 {
  float: left;
  margin-top: 22px;
}

.logo {
  display: block;
  width: 62px;
  height: 56px;
  text-indent: -9999px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi.com-assets/shop/img/logo-mi2.png) 0 0 /auto 100% no-repeat;
}

.header-nav {
  float: left;
  padding: 12px 0 0 172px;
}

.navs {
  float: left;
}

.navs span {
  float: left;
  font-size: 16px;
  color: #333;
  padding: 26px 10px 38px;
}

.navs span:hover {
  color: var(--theme-color);
}

.navs:hover .hidden {
  height: 230px;
  opacity: 1;
  transition: height 0.3s 0.1s, opacity 0.3s;
}

.header .hidden {
  opacity: 0;
  background: #fff;
  width: 100%;
  height: 0px;
  overflow: hidden;
  position: absolute;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .18);
  left: 0;
  top: 100px;
  z-index: 100;
  transition: opacity 0.3s 0.15s, height 0.3s;
}

.childNav {
  width: 1226px;
  margin: 0 auto;
  font-size: 12px;
}

.childNav li {
  width: 204px;
  height: 201px;
  float: left;
  padding: 35px 12px 0;
  color: #333;
  text-align: center;
  position: relative;
}

.childNav li::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100px;
  background: #e0e0e0;
  right: -1px;
  top: 35px;
}

.childNav li:last-child::after {
  display: none;
}

.childNav a {
  display: block;
  width: 180px;
  height: 166px;
}

.childNav a img {
  display: block;
  width: 116px;
  height: 100px;
  margin: 0 auto 26px;
}

.childNav p {
  line-height: 20px;
}

.childNav .price {
  color: var(--theme-color);
}


.search {
  width: 296px;
  height: 50px;
  margin-top: 25px;
  float: right;
  position: relative;
}

.search input {
  float: left;
  border: 1px solid #e0e0e0;
  height: 50px;
  outline: none;
  padding: 0 10px;
  width: 245px;
  font-size: 14px;
  line-height: 48px;
}

.search input:focus,
.search input:focus ~ button {
  border-color: var(--theme-color);
}

.search input:focus ~ .results {
  display: block;
}

.search .search-btn {
  float: left;
  width: 51px;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-left: none;
  background: #fff;
}

.search .search-btn:hover {
  color: #fff;
  background: var(--theme-color);
}

.results {
  display: none;
  background: #fff;
  position: absolute;
  top: 50px;
  left: 0;
  width: 245px;
  border: 1px solid var(--theme-color);
  border-top: none;
  z-index: 60;
}

.results a {
  display: block;
  padding: 6px 15px;
  font-size: 12px;
  color: #424242;
}

.results a:hover {
  background: #fafafa;
}
